*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	font-family: 'Outfit';
	background: linear-gradient(#B90E0A, #0D0E0E);

}

.contact-container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contact-left{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

.contact-left-title h2{
	font-weight: 600;
	color: #FFDA03;
	font-size: 40px;
	margin-bottom: 5px;
	
}

.contact-left-title hr{
	border: none; 
	width: 120px;
	height: 5px;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 20px;
}

.contact-inputs{
	width: 400px;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500;
	color: #B90E0A;
	border-radius: 50px;
}

.contact-left textarea{
	height: 140px;
	padding-top: 15px;
	border-radius: 20px;
}

.contact-inputs:focus{
	border: 2px solid #B90E0A;
}

.contact-inputs::placeholder{
	color: #B90E0A;
}

.buttons{
	display: flex;
	gap: 15px;
	
}

a{
	text-decoration: none;

}

.contact-left button{
	display: flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 16px;
	color: #FFFFFF;
	gap: 10px;
	border: none;
	border-radius: 50px;
	background: linear-gradient(270deg, #B90E0A, #0D0E0E);
	cursor: pointer;
}

.contact-right img{
	width: 800px;
}

@media (max-width: 800px){
	.contact-inputs{
		width: 80vw;
	}
	.contact-right{
		display: none;
	}
}
