*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Outfit';
	min-height: 100vh;
	background: linear-gradient(#B90E0A, #0D0E0E);

}

/* Configs do cabecalho, bloco geral*/
header{
	background: #800000;
	color: white;
	padding: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 85px;

}

/* Aqui temos as configs da logo no cabecalho, bloco especifico*/
header .logo a{
	background-image: url("../images/ralampinhaiconbranco.png");
	background-size: 200px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	height: 65px;
	text-indent: -99999px;
	top: -5px;
	width: 200px;
}

/* Aqui, temos um bloco entre o header geral e ul; ul, um bloco que engloba o li*/
nav{
	margin: 0px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu li{
    list-style: none;
}


.menu li:not(.logo) {
    margin-left: 40px;
}


/* li possui cada texto de pagina no cabecalho*/
li{
	
	display: inline-block;
	width: auto;
	font-size: 24px;
}

/* "a", um bloco mais especifico ainda para os textos de pag*/
a{
	text-decoration: none;
	color: white;

}


.textbox {
	background: #900603;
	color: white;

	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;


	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	border-radius: 16px;

	/* sombra para efeito de sobreposicao */
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

h2{
	background: white;
	color: black;
	margin-top: 15px;
	width: 300px;
	height: 50px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.textbox nav{
	background: white;
	color: black;
	margin-top: 50px;
	width: 550px;
	height: 350px;
	border-radius: 8px;
	display: flex;
}

.txt{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	color: black;
}

.images{
	width: 100vw;
	height: 100vh;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-top: 40px;
}

.slider-window {
	width: 800px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}


.slide {
	display: none;
	max-width: 100%;
	max-height: 100%;
}

.slide.active {
	display: block;
}

.slider-btn {
	background: #900603;
	color: white;
	border: none;
	font-size: 28px;
	padding: 10px 18px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-btn:hover {
	background: #B90E0A;
}

button{
	display: flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 16px;
	color: #FFFFFF;
	gap: 10px;
	border: none;
	border-radius: 50px;
	background: linear-gradient(270deg, #B90E0A, #0D0E0E);
	cursor: pointer;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.buttons{
	display: flex;
	text-decoration: none;
	
}



.c2023{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	margin: 60px auto;
	width: 500px;
}

.c2023 h1{
	color: white;
	align-items: center;
	justify-content: center;
}


/* caixa Dropdown */
.dropdown {
	position: relative;
}

/* seta */
.arrow {
	font-size: 14px;
	margin-left: 5px;
}

/* menu */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: -35px;
	background-color: #800000;
	padding: 0;
	min-width: auto;
	border-radius: 5px;
	opacity: 0;                 
	visibility: hidden;
	transition: opacity 0.15s ease;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}


/* Itens dentro do dropdown */
.dropdown-menu li {
	display: block;
	margin: 0;
	font-size: 18px;
}

/* Links dentro do dropdown */
.dropdown-menu a {
	display: flex;
	padding: 10px;
	color: white;
	white-space: nowrap;

}

/* Hover efeito */
.dropdown-menu a:hover {
	background-color: #a00000;
}

/* Mostra dropdown no hover */
.dropdown:hover .dropdown-menu {
	display: block;
}



.txt23{
	color: white;
	text-align: center;
	max-width: 700px;
	font-size: 22px;
}

@media (max-width: 900px){

	header{
		flex-wrap: wrap;
		height: auto;
	}

	nav ul{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	nav li{
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
}

